@charset "utf-8";

/*
   Personal Index CSS
   
   Filename: styles.css

*/

html {
    scroll-behavior: smooth;
}

body {
    align-content: center;
}

/* General Styles */

html {
    color: rgb(15, 185, 0);
    background-color: rgb(24, 25, 30);
 
    font-family: Arial, Helvetica, sans-serif;
}

ol {
    /* list-style-image: url(https://1drv.ms/i/s!Ar6qxgqxbHKipkkoN9C8G6b4pnrB?e=CPDGaZ); */

    

    outline-style: solid;
    outline-color: rgb(190, 190, 190);
    outline-width: 6px;
    border-radius: 5px;
    border-width: 50%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: -30px;
    margin-right: 900px;
}

ol > li {
    color: orange;
}

a:link {
    color: rgb(85, 245, 85);
}

a:visited {
    color: darkgreen;
}


/* Element Spacing */

header {
    padding-bottom: 18px;
}

aside > p#lastP {
    padding-bottom: 40px;
}

/* Backgrounds */

section > h2 {
    color: rgb(0, 182, 0);
    background-color: rgb(58, 58, 58);
    margin-right: 900px;
    margin-bottom: -20px;
    padding-left: 20px;
}

section > h3 {
    color: rgb(0, 80, 0);
    background-color: rgb(110, 110, 110);
    margin-right: 900px;
    margin-bottom: 0;
    padding-left: 20px;
}