@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 5
   Case Problem 1
   
   Author: Nicholas Mullins
   Date: 5/27/2023       
   
   Filename: gp_layout.css

   This file contains the layout styles and media
   queries used with sample pages from the Golden
   Pulps website.

*/


body {
   font-family: sans-serif, Verdana, Tacoma, Helvetica;
   font-size: 16pt;
   color: black;
   background-color: indigo;

   width: 85%;
   margin: auto;
}

header h1 {
   font-size: 36pt;

   margin-top: 35px;
   margin-bottom: 0px;
   margin-left: 0px;
   margin-right: 0px;

   padding-top: 15px;
   padding-bottom: 0px;
   padding-left: 15px;
   padding-right: 0px;

   background-color: purple;
}

header h3 {
   font-size: 24pt;

   margin: 0px;

   padding-top: 0px;
   padding-bottom: 15px;
   padding-left: 15px;
   padding-right: 0px;

   background-color: purple;
}

h1 {
   font-family: Arial;
   font-size: 22pt;
   text-align: left;
   letter-spacing: 2px;

   margin: 0px;

   padding: 15px 0px 0px 15px;

   background-color: darkblue;
}

h3 {
   font-family: Arial;
   font-size: 16pt;
   text-align: left;

   background-color: blue;
}

p {
   margin: 15px;

   padding: 15px;
}

a:hover {
   text-decoration: none;
   color: orange;
}

table {
   border: none;

   padding-top: 2px;
   padding-bottom: 2px;
   padding-left: 5px;
   padding-right: 5px;

   width: 90%;

   margin-left: 30px;
}

nav {
   background-color: lightgrey;
   color: black;

   text-align: center;

   margin: 0px;
   padding-top: 0px;

   width: 100%;
}